
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Contacto</h4>
            <h1 class="display-4">Envianos Tus Datos</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">Nuestros eventos</h1>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Eventos empresariales</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Eventos Sociales</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Eventos Institucionales</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Catering</h5>
                <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">Leer mas</a>

            </div>

            <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "43674721",
                            formId: "ba008662-e087-4831-ad0f-c5b0794544af"
                        });
                    </script>

                </div>
            </div>
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">Nuestros servicios</h1>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Atencion al cliente</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Servicio Profesional</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Turismo Sostenible</h5>
                <a href="" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Leer mas</a>
                
            </div>

        </div>
    </div>

</div>